@import '/globalStyles';
.nav{
    background-color:$backgraudCads ;
box-shadow:$boxShadowBottom;
color: white;
a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
}

.navBoton:hover{
    background-color: rgb(72, 0, 255);
}